

body{
  background-color: pink;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* layout start button */
/* 
.active{
  background-color: rgb(180, 227, 180);
} */