

body{
  background-color: #F5F7FB;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* layout start button */
/* 
.active{
  background-color: rgb(180, 227, 180);
} */

.container-quest{
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 50px auto;
  width: 50%;
}

.correct-answers{
  align-self: center;
  font-weight: bold;
  margin-right: 24px;
}

.check-answer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px 24px;
}